// Cores principais
$laranja-principal: #ff7043;
$verde-principal: #2e7d32;
$azul-principal: #2962ff;

// Sidebar
$bg-barra-lateral: #ff7043;
$ativo-barra-lateral: #fff;

// Textos
$text-escuro: #1a1a1a;
$text-cinza: #757575;
$texto-titulo: #111827;
$texto-secundario: #6b7280;

// Backgrounds
$bg-claro: #f5f5f5;
$branco: #ffffff;

// Bordas
$cor-borda: #e0e0e0;
$borda-input: #d1d5db;

//destaque/hover
$laranja-hover: #e54646;
$laranja-header: #f97316;

// ícones KPI
$icone-roxo: #8b5cf6;
$icone-laranja: #fb923c;
$icone-azul: #60a5fa;
$icone-amarelo: #fde68a;


