@use '../../../../shared/styles/variables.scss' as *;

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 0.938rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    background-color: $azul-principal;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background: $azul-principal; 
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(41, 98, 255, 0.2); 
}

.btn-primary:hover:not(:disabled) {
    background: #1a4ed4; 
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(41, 98, 255, 0.3);
}

.btn-primary:active:not(:disabled) {
    background: #143fab; 
    transform: translateY(0);
}

.btn-primary:focus-visible {
    outline: 3px solid #1a4ed4; 
    outline-offset: 2px;
    box-shadow: 0 0 0 5px rgba(41, 98, 255, 0.3);
}

.btn-primary:disabled,
.btn-primary[aria-disabled="true"] {
    background: #80a1ff;
    color: #e0e0e0; 
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-secondary {
    background: #f73737; 
    color: #ffffff; 
    border: 1px solid #f7373754; 
}

.btn-secondary:hover:not(:disabled) {
    background: #f7373754; 
}

.btn-secondary:focus-visible {
    outline: 3px solid #f73737;
    outline-offset: 2px;
    box-shadow: 0 0 0 5px  #f7373754; 
}

.btn-secondary:disabled,
.btn-secondary[aria-disabled="true"] {
    background: #f73737;
    color: #666666;
    opacity: 0.6;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
        font-size: 1rem; 
    }
}