@use '../../../shared//styles/variables.scss' as *;


.about__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;
  }

  @media (min-width: 769px) {
    .about__image {
      order: 1;
    }
    .about__content {
      order: 2;
    }
  }
}
